<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <MsgBoards>
    <MaxPosts>128</MaxPosts>
    <MaxEntries>256</MaxEntries>
  </MsgBoards>
  <Server>
    <BookSystem enabled="true" />
    <TradeSystem enabled="true" />
    <BountySystem enabled="true" />
    <PopupHelp enabled="true" />
    <UOAssist enabled="true" />
    <AllowedAssistVersion>0</AllowedAssistVersion>
    <MaximumPCs>5</MaximumPCs>
    <PlayersDeletePCs enabled="true" />
    <BankMaxItems>0</BankMaxItems>
    <MaximumItemsOnTile>0</MaximumItemsOnTile>
    <InstantGuards enabled="true" />
    <ShowPCNames enabled="true" />
    <DelaySkills>0</DelaySkills>
    <DelayObjects>0</DelayObjects>
    <DecayTimer>0</DecayTimer>
    <WeightPerStr>4</WeightPerStr>
  </Server>
  <Hunger enabled="true" >
    <HungerRate>6000</HungerRate>
    <HungerDamage>2</HungerDamage>
    <HungerDamageRate>10</HungerDamageRate>
  </Hunger>
  <Actions>
    <EquipOnDClick enabled="true" />
    <UseItemsWhenInvisible enabled="false" />
    <BountyKarmaGain>0</BountyKarmaGain>
    <BountyFameGain>0</BountyFameGain>
  </Actions>
  <Skills>
    <Hiding>
      <StealthOnHorse enabled="false" />
      <StealthToTakeItemsWhileHid>960</StealthToTakeItemsWhileHid>
      <StealthToDropItemsWhileHid>960</StealthToDropItemsWhileHid>
    </Hiding>
    <Thievery>
      <SnoopKarmaLoss>0</SnoopKarmaLoss>
      <SnoopFameLoss>0</SnoopFameLoss>
      <StealKarmaLoss>0</StealKarmaLoss>
      <StealFameLoss>0</StealFameLoss>
    </Thievery>
    <StatDailyLimit>0</StatDailyLimit>
    <LimitPlayerSparring>0</LimitPlayerSparring>
    <MaximumSkillTraining>250</MaximumSkillTraining>
  </Skills>
  <Logging>
    <LogPath>/var/log/hypnos/</LogPath>
  </Logging>
</settings>
